textarea{
 		font-family: Bodoni MT;
 		font-size: 12 px;
 		border: 1px solid #000;
 		background-color: black;
 		color: green;
 		padding: 0px;
 		margin: 0px;
 		width: 900px;
 		height: 400px
}

